@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Anton&family=Single+Day&display=swap'); */
*{
  font-family: 'Single Day', cursive;
  /* font-family: 'Anton', sans-serif; */
  font-size: 16px;
}
/* Navbar */
.link{
  color: inherit;
  text-decoration: none;
}
.nav-img{
  height: 40px;
}
.navbar{
  height: 60px;
}
.nav-wrapper{
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item{
  display: flex;
  align-items: center;
  font-size: 1vw;
}
.nav-left{
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-center{
  font-size: 1.5vw;
  letter-spacing: 3px;
}
.nav-right{
  display: flex;
  align-items: center;
  gap: 25px;
}
.nav-icons{
  display: flex;
  gap: 10px; 
  color: #777;
  cursor: pointer;
  font-size: 1.25vw;
}
.nav-cart{
  position: relative;
}
.nav-cart span{
  font-size: 12px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #2879fe;
  color: white;
  position: absolute;
  right: -5px;
  top: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Footer */
.footer{
  margin: 100px 200px 20px 200px;
}
.foot-top{
  display: flex;
  gap: 50px;
}
.foot-item{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: justify;
  font-size: 14px;
}
.foot-item h1{
  font-size: 18px;
  font-weight: 500;
  color: #555;
}
.foot-item span{
  color: gray;
}
.foot-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.foot-left{
  display: flex;
  align-items: center;
}
.foot-logo{
  color: #2879fe;
  font-weight: bold;
  font-size: 24px;
}
.copyright{
  margin-left: 20px;
  font-size: 12px;
  color: gray;
}
.foot-img{
  height: 50px;
}

/* Slider */

.slider-container {
  position: relative;
  width: 100vw;
  transition: all 1s ease;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  position: relative;
}

.slide img {
  width: 100%; 
  height: 90vh;
  /* opacity: 0.7; */
  overflow: hidden;
}
.slider-icons{
  width: fit-content;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  gap: 10px;
  margin: auto;
}
.slider-icon{
  width: 50px;
  height: 50px;
  border: 1px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: black;
}


/* Featured Products */
.featuredProducts{
  margin: 60px 200px;
}
.fp-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.fp-top h1{
  flex: 2;
  text-transform: capitalize;
}
.fp-top p{
  flex: 3;
  color: gray;
}
.fp-bottom{
  display: flex;
  justify-content: center;
  gap: 15px;
}


/* Card */

.card{
  width: 270px;
  display: flex;
  flex-direction: column;
}
.c-img{
  width: 100%;
  height: 350px;
  position: relative;
}
.c-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.new-sea{
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  color: teal;
  padding: 4px 4px;
  z-index: 3;
  font-weight: 500;
  font-size: 12px;
}
.card h2{
  font-weight: 500;
  font-size: 16px;
}
.c-prices{ 
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.c-prices h3{
  font-size: 16px;
  font-weight: 500;
}
.price-tag{
  display: flex;
  gap: 3px;
  margin-right: 20px;
}
.cut{
  text-decoration: line-through;
  color: #999;
}


/* Categories */

.categories{
  display: flex;
  height: 80vh;
  gap: 10px;
  margin: 10px;
}
.col{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.col-l{
  flex: 2;
}
.row{
  flex: 1;
  display: flex;
  gap: 10px;
  position: relative;
  overflow: hidden;
}
.row-l{
  width: 100%;
  /* height: 100%;   */
  object-fit: cover;
}
.row button{
  position: absolute;
  width: fit-content;
  min-width: 10px;
  height: 35px;
  padding: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
}
.row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Contact  */
.contact{
  background-color: #2879fe;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: center;
}
.wrapper{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper span{
  text-transform: uppercase;
}
.email input{
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
}
.email button{
  padding: 10px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: black;
  color: white;
  cursor: pointer;
}
.contact-icons{
  display: flex;
  gap: 8px;
  cursor: pointer;
}